<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="google-site-verification" content="p0EYEsB_M0ggKmL8t14PBsrHWI_flANuVw-qwKkd1PM" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/lightbox.min.css"}}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
    {{! The big featured header }}
    
    {{navigation}}

    <!--<div class="site-wrapper">-->

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    <!--</div>-->

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="{{asset "js/jquery-1.11.3.min.js"}}"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/elevator.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "data/gallery.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/lightbox/lightbox-plus-jquery.min.js"}}"></script>

    <script>
    
        // Simple elevator usage.
        var elementButton = document.querySelector(".elevator");
        var elevator = new Elevator({
            element: elementButton,
            mainAudio: "{{asset 'music/elevator-music.mp3'}}",
            endAudio:  "{{asset 'music/ding.mp3'}}"
        });

        var gallerys = "",
            authorName = "{{author.name}}".replace(/\s/g,""),
            gallery = authorGallerys[authorName];
        
        if (gallery.switch){
            for (var i=0; i< gallery.items.length; i++){
                gallerys = gallerys + "<a class='gallery-item' style='background-image:url(" + gallery.items[i].cover + ");' data-lightbox='imageSet' href='" + gallery.items[i].images[0] + "'><div class='gallery-item-mask'></div></a>";
            }
            $(".author-gallery").append(gallerys);
    
            lightbox.option({
                "resizeDuration": 200,
                "positionFromTop": 100,
                "wrapAround": true
            });
            
            $(".author-gallery").show();
        }


    </script>

</body>
</html>
